@charset "UTF-8";


*{
    margin: 0;
    padding: 0;
}


table{
            
    border-collapse: collapse
}
tr{
    padding: 10px;
    border: 1px solid black;
}

td{
    
    border: 1px solid black;
    padding-right: 100px;
}